[user]
	email = michaelgawlik1983@gmail.com
	name = Michael Gawlik

[core]
	pager = delta

[push]
  autoSetupRemote = true
  conflictstyle = zdiff3

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true # use n and N to move between diff sections
	side-by-side = true
	#dark = true
	#light = true
	
[merge]
	conflictstyle = zdiff3

[rebase]
	updateRefs = true

[diff]
	colorMoved = default

[alias]
  b = branch
  bn = branch --show-current
  c = commit
  cm = commit -m
  ca = commit --amend -m
  cl = clone
  co = checkout
  d = diff
  f = fetch
  l = log
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  lga = lg --all
  lgm = "!f() { d=$(git symbolic-ref --quiet --short refs/remotes/origin/HEAD 2>/dev/null); if [ -z \"$d\" ]; then for b in main master; do git show-ref --verify --quiet refs/remotes/origin/$b && d=origin/$b && break; done; fi; git lg $d~1..$(git bn); }; f"
  m = merge
  p = pull
  r = reset
  s = status
  st = stash
  sw = switch
  root = rev-parse --show-toplevel
  af = "!f() { cd \"$(git root)\" && git status --porcelain | rg '^( |\\?\\?)' | cut -c4- | fzf -m --preview-window 'up,70%' --bind 'ctrl-u:preview-half-page-up,ctrl-d:preview-half-page-down,ctrl-f:preview-page-down,ctrl-b:preview-page-up' --preview 'git diff -- {} | delta --width $FZF_PREVIEW_COLUMNS; git diff --no-index -- /dev/null {} 2>/dev/null | delta --width $FZF_PREVIEW_COLUMNS' | xargs -r git add; }; f"
  x = "!git status --porcelain | rg '^( |\\?\\?)'"
  ffiles = "!f() { cd \"$(git root)\" && git status --porcelain | rg '^( |\\?\\?)' | cut -c4- | fzf -m --preview 'git diff --color=always {}'; }; f"
  undo = "!f() { cd \"$(git root)\" && git status --porcelain | rg '^( |\\?\\?)' | cut -c4- | fzf -m --preview 'git diff --color=always {}' | xargs -r git checkout; }; f"
  incoming-first-pretty = !git log -1 --oneline --decorate $(git rev-list --reverse HEAD..@{u} | head -n1)
  incoming-first-hash = !git log -1 --format=%h $(git rev-list --reverse HEAD..@{u} | head -n1)
  check-ff = merge-base --is-ancestor HEAD 
  ddiff = -c diff.external=difft diff
  dshow = -c diff.external=difft show --ext-diff
  dlog = -c diff.external=difft log --ext-diff
  dd = ddiff
  ds = dshow
  dl = dlog
